:root {
  --blue: #8aaae5;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.upload-container {
  height: 100%;
  width: calc(100% - 500px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  width: 800px;
}

label {
  border: 2px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 120px;
  height: 60px;
  border-radius: 8px;
  font-size: 16px;
}

label:active {
  background-color: var(--blue);
  color: white;
}

.preview {
  max-height: 800px;
  max-width: 100%;
  border: 2px solid #ccc;
  padding: 10px;
}

.other-half {
  height: 100%;
  width: 500px;
  background-color: var(--blue);
}

button {
  background-color: var(--blue);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  width: 140px;
  height: 60px;
  border-radius: 8px;
  font-size: 16px;
}

button:active {
  background-color: blue;
}

#copyText {
  background-color: yellow;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}
